body {
	background: #222;
}

.shoot-me {
	position: absolute;
	top: 300px;
	left: 200px;
	color: white;
	text-transform: uppercase;
	font-size: 40px;
}

.racket {
	z-index: 1;
	position: absolute;
	left: calc(60vw + 70px);
	top: calc(50vh + 30px);
	display: block;
	background-image: url("./../images/racket.png");
	background-size: 100%;
	width: 100px;
	height: 161px;
	cursor: pointer;
	transition: 0.2s ease;
}

.racket:hover {
	transform: scale(1.2);
	transition: 0.2s ease;
}

.racket-selected {
	cursor: none;
	transform: scale(1);
	transition: none;
}
.racket-selected:hover {
	transition: none;
}

.ball {
	z-index: 0;
	background-image: url("./../images/tennisball.png");
	background-size: 100%;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 60vw;
	top: 50vh;
}

.debug {
	visibility: hidden;
	pointer-events: none;
	display: block;
	background: rgba(0,2550,0,0.5);
	width: 90px;
	height: 90px;
	transform: translate(-45px, -45px);
	border-radius: 45px;
	position: absolute;
	z-index: 2;
}

.lobaway {
	animation: lobaway 1s ease forwards;
}

@keyframes lobaway {
	0% {
	}
	100% {
		transform: translate(-100vw, -100vh) rotate(-720deg);
	}
}